:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #c90000;
  --font-main: 'Geologica', sans-serif;
}

body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  overflow-x: hidden; /* Prevent horizontal scroll from bleeding bars */
}

.regualar 
{
  font-weight: italic;
}

.contenitore {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

.testo-rosso {
  color: var(--color-red);
}

.testo-bianco {
  color: var(--color-white);
}